@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
/* font-family: 'Orbitron', sans-serif; */
/* menu2.html 적용 font */
/* h1 */
@font-face {
  font-family: "양진체";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* span */
@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* p */
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* flow-word */
@font-face {
  font-family: "InkLipquid";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* inside-page__btn */
@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* COMMON */
.member_1 {
  background-color: darkseagreen;
}

.member_2 {
  background-color: tomato;
}

.member_3 {
  background-color: peachpuff;
}

/* WRAP */
.wrap {
  width: 340px;
  padding: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.wrap .menu {
  /* border: 1px solid tan; */
}

.member_1.wrap .menu a {
  font-size: 20px;
  color: olive;
}

.member_2 .wrap .menu a {
  font-size: 20px;
  color: tomato;
}

.member_3 .wrap .menu a {
  font-size: 20px;
  color: peachpuff;
}

.wrap .menu a:first-child {
  float: left;
}

.wrap .menu a:last-child {
  float: right;
}

/* 가상요소선택자를 활용하여 빈요소를 줌 */
.wrap .menu::after {
  content: "";
  display: block;
  clear: both; /* 양옆에 글자가 붙으면 안되기 때문에 준 속성 */
}

/* PROFILE */
.wrap .profile {
  width: 100%;
  text-align: center;
}

/* 첫번째 멤버 이미지 */
.wrap .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 15px 30px olivedrab;
}

/* 두번째 멤버 이미지 */
.member_2 .wrap .profile img {
  box-shadow: 5px 15px 30px tomato;
}

/* 세번째 멤버 이미지 */
.member_3 .wrap .profile img {
  box-shadow: 5px 15px 30px peachpuff;
}

.wrap .profile h1 {
  font: bold 22px/1 "양진체"; /*22px짜리 line-height를 넣어주겠다*/
  color: #555;
  margin: 20px 0px 10px 0px; /*좌우 0px, 상 20px, 하 10px */
}

.wrap .profile p {
  font: 14px/1 "orbitron";
  color: #999;
  margin-bottom: 20px;
}

.wrap .profile .btnView {
  display: block;
  width: 180px;
  height: 32px;
  margin: 20px auto 20px;
  background: linear-gradient(45deg, rgb(167, 186, 167), rgb(92, 186, 92));
  font: bold 15px/32px "orbitron";
  color: white;
  border-radius: 16px;
  box-shadow: 5px 10px 20px rgba(140, 221, 145, 0.5);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
  letter-spabox-shadow: 5px 5px 10px rgba(255, 105, 180, 0.5);
}

.member_2 .wrap .profile .btnView {
  background: linear-gradient(45deg, rgb(246, 148, 130), rgb(255, 99, 71));
  box-shadow: 5px 10px 20px rgba(238, 162, 149, 0.5);
}

.member_3 .wrap .profile .btnView {
  background: linear-gradient(45deg, rgb(255, 218, 185), rgb(255, 188, 129));
  box-shadow: 5px 10px 20px rgb(255, 218, 185);
}

.wrap .contact {
  margin-bottom: 25px;
  text-align: left;
}

.wrap .contact li {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

.wrap .contact li a {
  color: #555;
}

/* 이메일 주소 밑에는 선이 없게 해주어야 함(이메일 주소와 깃허브 중간에 하나의 선만 생기게끔) */
.wrap .contact li:last-child {
  border-bottom: none;
}

.wrap .contact li i {
  width: 20%;
  text-align: center;
  color: #555;
  font-size: 15px;
  text-shadow: 2px 2px 2px #ddd;
}

.wrap .contact li span {
  font: 13px/1 "orbitron";
  letter-spacing: 1px;
  font-size: 10px;
}

/* OTHERS */
.wrap .others {
  text-align: center;
  font-size: 0px; /*a 태그도 글자요소이므로 폰트에 0px 사이즈를 주어야함 */
  margin-bottom: 20px;
}

.wrap .others a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  margin: 0px 10px; /* 상하 0px, 좌우 10px */
  opacity: 0.4;
}

.wrap .others a.on {
  opacity: 1;
}

/* 자식의 종류를 가리지 않는다. 그러나 nth-of-type은 앞에 써준 선택자 중에서의 자식을 고른다 만약 li태그가 있다면 무시한다*/
.wrap .others a:nth-of-type(1) {
  background-color: rgb(143, 188, 143);
  box-shadow: 5px 5px 10px rgb(181, 212, 181);
}

.wrap .others a:nth-of-type(2) {
  background-color: tomato;
  box-shadow: 5px 5px 10px rgba(0, 183, 255, 0.5);
}

.wrap .others a:nth-of-type(3) {
  background-color: rgb(252, 201, 156);
  box-shadow: 5px 5px 10px rgb(247, 224, 204);
}

/*# sourceMappingURL=member.css.map */
