* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  height: 100vh;
}
.wrap .inner {
  width: 100%;
  height: 100%;
  position: relative;
  /* LOGO */
  /* HEADER */
}
.wrap .inner .logo {
  position: absolute;
  top: 25px;
  left: 30px;
  z-index: 2;
}
.wrap .inner .logo img {
  width: 150px;
  height: 60px;
}
.wrap .inner header {
  position: relative;
  top: 0;
  width: 100%;
  height: 120px;
  transform: translate(0, -100px);
  z-index: 1;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .inner header .menu {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  margin-left: 70px;
  font-size: 20px;
}
.wrap .inner header .menu li {
  margin-right: 50px;
}
.wrap .inner header .menu li a:visited {
  color: black;
}
.wrap .inner header .menu_bar {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

/* VIDEO */
.alcohol_video {
  width: 40%;
  height: 100%;
  position: fixed;
  background-color: green;
  left: 0;
  top: 0;
}
.alcohol_video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* ALCOHOL LIST */
.alcohols {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
}
.alcohols .alcohol__list {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.alcohols .alcohol__list li {
  width: 200px;
  height: 350px;
  margin: 40px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.alcohols .alcohol__list li .alcohol_img {
  width: 140px;
  height: 225px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-size: cover;
}
.alcohols .alcohol__list li .add_cart {
  display: none;
  width: 120px;
  height: 35px;
  position: absolute;
  bottom: 50%;
  transform: translate(-50%, 0);
  /* border: 1px solid; */
  border-radius: 3px;
  background: none;
  color: #333;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  /*  &:hover {
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  } */
}
.alcohols .alcohol__list li .add_cart:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.alcohols .alcohol__list li .add_cart:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.alcohols .alcohol__list li .add_cart:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
.alcohols .alcohol__list li:hover .add_cart {
  display: inline;
}
.alcohols .alcohol__list li .text {
  width: 100%;
  position: absolute;
  top: 250px;
  text-align: start;
  color: #333;
}
.alcohols .alcohol__list li .text .title {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=menu1_tradition.css.map */
