.explain {
	width: 100%;
	> ul {
		width: 100%;
		> li {
			width: 25%;
			position: absolute;
			opacity: 0;
			transition: 2s;
			bottom: 30%;
			right: 5%;
			// 10%로 가면 적당한 것 같소이다.
			&.on {
				right: 15%;
				opacity: 1;
			}

			h2 {
				font-size: 35px;
				color: $menuColor;
				text-shadow: 1px 1px 3px rgba(255, 255, 47, 0.308);
				margin-bottom: 8px;
			}
			p {
				color: rgba(117, 106, 93, 0.893);
			}
		}
	}
}
