&.bg3 {
	background: linear-gradient(180deg, black, #ddd);
	opacity: 1;
	text-align: center;

	cursor: none;
	video {
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		// transform: rotate(90deg);
		opacity: 0.4;
	}

	.cursor {
		background-image: url("../src/img/click.png");
		background-repeat: no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;
		animation: cursorAni linear 2s infinite;

		position: absolute;
		z-index: 1000;
		transform: translate(-50%, -50%);
		pointer-events: none;
		transition: all 0.3s ease;
	}

	.slo.bg3--slogan {
		// z-index: 1;
		// position absolute는 전체 .slo에서 줘서 안줘도 댐
		color: white;
		right: 10%;
		top: 120px;
		font-size: 15vw;
		line-height: 1.5;
		animation: textAni linear 7s infinite;
	}
	.slo.bg3--slogan--hide {
		display: inline-block;

		transition: 2s;
		color: white;

		top: 17%;
		left: 50%;
		transform: translate(-50%, 0);
		font-size: 15vw;
		line-height: 1.5;
		color: pink;
		opacity: 0;
	}

	ul {
		> li {
			> img.float_item {
				position: absolute;
				transition: 5s;
				width: auto;
				height: 200px;

				&.img1 {
					top: 12%;
					left: 0%;
					animation: float01 linear 3s infinite;
					&.on {
						top: 60%;
						left: 10%;
					}
				}
				&.img2 {
					top: 7%;
					left: 73%;
					animation: float01 linear 5s infinite;
					&.on {
						top: 60%;
						left: 20%;
					}
				}
				&.img3 {
					top: 70%;
					left: 73%;
					animation: float01 ease-in-out 6s infinite;
					&.on {
						top: 60%;
						left: 30%;
					}
				}
				&.img4 {
					left: 48%;
					top: 1%;
					animation: float02 linear 1s infinite;
					&.on {
						top: 60%;
						left: 40%;
					}
				}
				&.img5 {
					top: 65%;
					left: 13%;
					animation: float03 linear 3s infinite;
					&.on {
						top: 60%;
						left: 50%;
					}
				}
				&.img6 {
					top: 40%;
					left: 45%;
					animation: float02 linear 3s infinite;
					&.on {
						top: 60%;
						left: 60%;
					}
				}
				&.img7 {
					left: 25%;
					top: 30%;
					&.on {
						top: 60%;
						left: 70%;
					}

					width: 80px;
					animation: float03 linear 5s infinite;
				}
				&.img8 {
					top: 75%;
					left: 40%;
					animation: float03 linear 2s infinite;
					&.on {
						top: 60%;
						left: 80%;
					}
				}
			}
		}
	}
}

@keyframes float01 {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(10px, 15px);
	}
	40% {
		transform: translate(20px, 8px);
	}
	60% {
		transform: translate(8px, -3px);
	}
	80% {
		transform: translate(-5px, -5px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes float02 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	20% {
		transform: translate(-10px, 5px) rotate(10deg);
	}
	40% {
		transform: translate(-20px, 8px) rotate(5deg);
	}
	60% {
		transform: translate(-5px, -3px) rotate(0deg);
	}
	80% {
		transform: translate(-9px, -9px) rotate(-8deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float03 {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(-10px, 5px);
	}
	40% {
		transform: translate(-20px, 8px);
	}
	60% {
		transform: translate(-5px, -3px);
	}
	80% {
		transform: translate(-9px, -9px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes textAni {
	0% {
		right: -100%;
	}
	100% {
		right: 100%;
	}
}
@keyframes textAni2 {
	0% {
		right: -100%;
	}
	100% {
		right: 100%;
	}
}
@keyframes cursorAni {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
