$menuColor: rgba(247, 234, 234, 0.808);
.rotate_menu {
	width: 12vw;
	height: 12vw;
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -6vw;
	margin-top: -6vw;
	transition: 2s;

	article {
		position: absolute;
		width: 100%;
		height: 100%;

		&.on {
			.inner {
				opacity: 1;
				transform: scale(1.3);
			}
		}

		.inner {
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: 2s;
			transform: scale(0.8);
			text-align: center;
			> a {
				display: inline-block;

				> img {
					height: 200px;
				}
			}
		}
	}
}

.linear_menu {
	position: absolute;
	top: 30%;
	width: 39%;
	font-size: 30px;
	left: 5%;

	.menu_list {
		justify-content: center;
		li {
			position: absolute;
			padding: 20px;

			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 10vh;
			}
			&:nth-child(3) {
				top: 20vh;
			}
			&:nth-child(4) {
				top: 30vh;
				color: red;
			}

			a {
				color: $menuColor;
				transition: 0.4s;
				opacity: 0.8;

				&:hover {
					font-size: 34px;
					opacity: 1;
				}
			}
		}
	}
}
