/*login 변수 선언*/
$loginColor: rgba(142, 95, 80, 0.995);

$loginBtn: rgb(243, 228, 228);
.login {
	font-family: "Cafe24SsurroundAir";
	width: 400px;
	height: 500px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	z-index: 5;
	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
	transition: 1.2s;

	.login--close {
		font-size: 30px;
		color: $loginColor;
		position: absolute;
		top: 5px;
		right: 25px;
	}

	.login__box {
		position: absolute;
		top: 130px;
		left: 20%;

		> i {
			position: absolute;
			color: $loginColor;
			z-index: 1;
			&:nth-of-type(1) {
				font-size: 20px;
				top: 141px;
				left: 20px;
			}
			&:nth-of-type(2) {
				font-size: 17px;
				top: 191px;
				left: 20px;
			}
		}

		input {
			display: inline-block;
			height: 30px;
			position: absolute;
			left: 10px;
			padding: 20px;
			padding-left: 30px;
		}

		& > input:nth-of-type(1) {
			top: 130px;
		}
		& > input:nth-of-type(2) {
			top: 180px;
		}
	}

	> img {
		width: 300px;
		height: auto;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.login__btn {
		display: block;
		position: absolute;
		margin: 0 auto;
		right: 0;
		left: 0;
		top: 380px;
		width: 250px;
		height: 50px;
		background-color: $loginColor;
		border-radius: 10px;
		font-size: 20px;
		line-height: 50px;
		color: $loginBtn;
		text-align: center;
		letter-spacing: 5px;

		&:active {
			background-color: orangered;
		}
	}

	.login__register {
		font-size: 13px;
		color: #666;
		display: flex;
		// position absolute 주면 justify content가 안먹어서 relative로 주고 위치 변경함
		position: relative;
		top: 450px;

		justify-content: center;

		a {
			color: #666;
			padding: 0 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
