@import "reset";
@import "font";
/*common*/
// 변수 설정
$registerColor: #fff;

.hide {
	opacity: 0;
	transform: scale(0.4) translateX(700%);
}
body {
	font-family: "Cafe24SsurroundAir";
	header {
		position: relative;
		z-index: 1;
		.logo {
			> img {
				width: 180px;

				position: absolute;
				top: 20px;
				left: 4%;
			}
		}

		.search {
			transition: 1.4s;
			font-size: 20px;
			position: relative;
			// color: red;
			> i {
				position: absolute;
				left: 50%;
				top: 51px;
				z-index: 5;
				transition: 0.8s;
				color: rgba(255, 255, 255, 0.8);
				cursor: pointer;

				&.searchOn {
					transform: translate(-50%, 0);
					color: #000;
				}
			}
			#search_window {
				position: absolute;
				width: 240px;
				height: 20px;
				transition: 0.8s;

				z-index: 1;
				opacity: 0.1;
				box-sizing: content-box;
				border-radius: 30px;
				font-size: 20px;
				padding: 8px;
				padding-left: 30px;
				font-family: "Cafe24SsurroundAir";
				left: 50%;
				top: 40px;
				pointer-events: none;

				&.searchOn {
					transform: translate(-50%, 0);
					opacity: 1;
					pointer-events: auto;
				}
			}
		}

		.searchNsns {
			display: flex;
			position: absolute;
			right: 10%;

			top: 50px;

			cursor: pointer;

			> li {
				// color: $registerColor;
				padding-left: 10px;
				background-color: skyblue;

				img {
					width: 20px;
				}
			}
		}

		.register {
			font-size: 11px;
			display: flex;
			position: absolute;
			right: 4%;
			top: 10px;
			> li {
				color: $registerColor;
				padding-left: 5px;
				> a {
					color: $registerColor;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	figure {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		background-color: #000;

		.bg {
			width: 100%;
			height: 100%;
			background-color: #000;
			top: 100%;
			transition: 1.2s;
			position: absolute;

			> video {
				position: absolute;
				width: 100%;
				height: 100%;
				transition: 1.2s;
				object-fit: cover;
			}

			> img {
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.slo {
				font-family: "Shadows Into Light";
				font-weight: bold;
				position: absolute;
				top: 0;
			}
			&.bg0 {
				font-size: 9vw;

				color: rgba(225, 86, 86, 0.6);

				.slo.bg0--slogan {
					top: 50%;
					left: 50%;
					.quote0 {
						transition: 4s;
						opacity: 0;
					}
					.quote1 {
						transition: 8s;
						opacity: 0;
					}
				}
			}
			&.bg1 {
				font-size: 9vw;
				color: rgba(237, 139, 34, 0.699);
				.slo.bg1--slogan {
					top: 17%;
					left: 05%;

					.quote0 {
						position: relative;
						left: -1000%;
						transition: 1.5s;

						opacity: 0;

						&.on {
							left: 0;
							opacity: 1;
						}
					}
					.quote1 {
						position: relative;
						left: -1000%;

						transition: 3.5s;

						opacity: 0;

						&.on {
							left: 0;
							opacity: 1;
						}
					}
				}
			}
			&.bg2 {
				font-size: 9vw;
				color: rgba(255, 255, 0, 0.5);
				.slo.bg2--slogan {
					text-align: right;
					top: 07%;
					left: 45%;

					.quote0 {
						position: relative;
						left: 100%;
						transition: 3s;
						opacity: 0;
						&.on {
							left: 0%;
							opacity: 1;
						}
					}
					.quote1 {
						position: relative;
						left: 100%;
						transition: 5s;
						opacity: 0;
						&.on {
							left: 0;
							opacity: 1;
						}
					}
				}
			}

			@import "home_floatImg"; //bg3

			&.viewOn {
				top: 0;
			}

			//  view 에서 위로 나갈때to up이용
			//아래로 내리는 동작
			&.viewOutToUp {
				top: -100%;
			}

			// view에서 아래로 나갈 때 to Down 이용
			//위로 올리는 동작
			&.viewOutToDown {
				top: 0%;
			}
		}

		.wrap {
			width: 100%;
			height: 100%;
			transition: 0.5s;
			position: absolute;
			top: 0;
			opacity: 1;
			&.on {
				filter: grayscale(100%);
				pointer-events: none;
				cursor: default;
			}
			&.menuOn {
				pointer-events: none;
				cursor: default;
				opacity: 0;
				top: 300px;
			}

			/*SECTION-menu*/
			@import "home_menu";

			/*SECTION*/
			@import "home_menu_expl";

			/*NAV-buttons*/
			@import "home_btns";
		}

		/*SECTION-menu up*/
		.hide_up {
			width: 30px;
			position: absolute;
			bottom: 10px;

			cursor: pointer;
			text-align: center;
			margin: 0 auto;
			left: 0;
			right: 0;
			i {
				transition: 0.5s;
			}
			&.on {
				pointer-events: none;
				cursor: default;
				color: gray;
				i {
					animation: none;
				}
				span {
					animation: none;
				}
			}

			i {
				animation: blingbling linear 0.2s infinite;
			}
			span {
				font-size: 7px;
				animation: blingbling linear 0.2s infinite;
			}

			&:hover {
				color: pink;
				i {
					animation: none;
				}
				span {
					animation: none;
				}
			}
		}

		/*SECTION - login*/
		@import "home_login";
	}
}

/*Animation*/

@keyframes blingbling {
	0% {
		color: white;
	}
	100% {
		color: rgba(255, 105, 180, 0.434);
	}
}
