@import 'reset';
@import 'menu1_common';

.alcohol_movie {
  width: 40%;
  height: 100%;
  position: fixed;
  background-color: green;
  left: 0;
  top: 0;

  video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.alcohols {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: skyblue; */
  margin: 0 auto;
}

.alcohol__list {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  list-style: none;

  li {
    width: 200px;
    height: 350px;
    /* border: 1px solid black; */
    margin: 40px;
    text-align: center;
    position: relative;

    .alcohol_img {
      width: 140px;
      height: 225px;
      margin-top: 20px;
      /* background-color: aquamarine; */
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      background-size: cover;
    }

    .text {
      width: 100%;
      position: absolute;
      top: 250px;
      text-align: center;
      .title {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .price {
      }

      .description {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
